*{
    padding: 0px;;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: silver;
}
nav{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
nav a{
    text-align: centered;
    padding: 10px;
    border: 1px solid black;
    border-color: silver;
    border-width: medium;
    background-color: black;
    color: silver;
}
#container{
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 5px;
}
.post{
    color: rgb(59, 187, 219);
    padding: 5px;
    background-color: black;
}
.text{
    text-align: center;
    color: rgb(59, 187, 219);
    padding: 5px;
    background-color: black;
    font-size: larger;
}
#equipment{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: black;
}