*{
    padding: 0px;;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
nav a{
    text-align: centered;
    padding: 10px;
    border: 1px solid black;
    border-color: purple;
    border-width: medium;
    background-color: black;
    color: purple;
}
p{
    color: rgb(59, 187, 219);
    text-size-adjust: 22;
}