*{
    padding: 0px;;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: silver;
}
nav{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
nav a{
    text-align: centered;
    padding: 10px;
    border: 1px solid black;
    border-color: silver;
    border-width: medium;
    background-color: black;
    color: silver;
}
#container{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 5px;
}
#container-post{
    display: grid;
    grid-template-columns: auto auto;
}
.post{
    color: rgb(59, 187, 219);
    padding: 10px;
    background-color: black;
}